<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">
                        <h2 class="text-center mb-4">Report an Incident</h2>

                        <div class="mb-3">
                            <label for="title" class="form-label">Incident Title</label>
                            <input type="text" id="title" [(ngModel)]="incident.title" name="title" required class="form-control" placeholder="Enter the title of the incident" />
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" id="description" [(ngModel)]="incident.description" name="description" required class="form-control" placeholder="Describe the incident" />
                        </div>

                        <div class="mb-3">
                            <label for="status" class="form-label">Choose a Status</label>
                            <select name="status" required [(ngModel)]='incident.optionSeleted' class="form-select">
                                <option value="open">Open</option>
                                <option value="inProgress">In Progress</option>
                                <option value="closed">Closed</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Report</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
